<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Leaflet Map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="/static/leaflet_plugins/leaflet.markercluster.js"></script>
<script src="/static/leaflet_plugins/leaflet-color-markers.js"></script>
<link rel="stylesheet" type="text/css" href="/static/leaflet_plugins/MarkerCluster.css">
<link rel="stylesheet" type="text/css" href="/static/leaflet_plugins/MarkerCluster.Default.css">

<!-- WeFi Web App -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/wefi.css">
<script src="/static/wefi.js"></script>
<script src="/static/bootstrap/bootstrap.min.js"></script>
